@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    /* Fonts */
    --font-family: "Lexend", sans-serif;

    /* Font Sizes */
    --font-size-xxs: 0.5rem;
    --font-size-xs: 0.625rem;
    --font-size-sm: 0.75rem;
    --font-size-base: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;

    /* Font Weights */
    --font-weight-light: 300;
    --font-weight-base: 400;
    --font-weight-bold: 600;

    /* Line Height */
    --line-height-small: 1rem;
    --line-height-base: 1.25rem;
    --line-height-large: 1.5rem;

    /*
    body {
        font-family: var(--font-family);
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height-base);
        color: var(--text-primary);
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-large);
    }
    
    h1 {
        font-size: var(--font-size-xl);
    }
    
    h2 {
        font-size: var(--font-size-lg);
    }
    
    h3 {
        font-size: var(--font-size-md)
    }
    
    h4, h5, h6 {
        font-size: var(--font-size-base);
    }
    
    p {
        font-size: var(--font-size-base);
        line-height: var(--line-height-base);
    }
    */
}