/* Main Colors */

/* Primary */
$ivf-white: #fff;

$ivf-primary-50: #DAE3FF;
$ivf-primary-100: #A9B9EB;
$ivf-primary-200: #7991D9;
$ivf-primary-300: #3C5EC7;
$ivf-primary-400: #002AA7;
$ivf-primary-600: #001D74;
$ivf-primary-900: #001042;
$ivf-primary: $ivf-primary-400;

/* Secondary */
$ivf-secondary-100: #FFF0E3;
$ivf-secondary-200: #F7D8BC;
$ivf-secondary-300: #E5B58A;
$ivf-secondary-400: #CA9466;
$ivf-secondary-600: #8D6747;
$ivf-secondary: $ivf-secondary-400;

/* Tertiary */
$ivf-tertiary-50: #FAFAFA;
$ivf-tertiary-100: #ECECEC;
$ivf-tertiary-200: #D0D0D0;
$ivf-tertiary-300: #AEAEAE;
$ivf-tertiary-400: #737373;
$ivf-tertiary-600: #454545;
$ivf-tertiary-900: #171717;


/* Highlight Colors */

/* Red */
$ivf-highlight-red-50: #FDE8E8;
$ivf-highlight-red-200: #F8B4B4;
$ivf-highlight-red-400: #F05252;
$ivf-highlight-red-600: #C81E1E;

/* Green */
$ivf-highlight-green-50: #DEF7EC;
$ivf-highlight-green-200: #84E1BC;
$ivf-highlight-green-400: #0E9F6E;
$ivf-highlight-green-600: #046C4E;

/* Yellow */
$ivf-highlight-yellow-50: #FDF6B2;
$ivf-highlight-yellow-200: #FCE96A;
$ivf-highlight-yellow-400: #FACA15;
$ivf-highlight-yellow-600: #C27803;

/* Pink */
$ivf-highlight-pink-50: #FCE8F3;
$ivf-highlight-pink-400: #E74694;

/* Purple */
$ivf-highlight-purple-50: #EDEBFE;
$ivf-highlight-purple-400: #9061F9;

/* Indigo */
$ivf-highlight-indigo-50: #E5EDFF;
$ivf-highlight-indigo-400: #5850EC;

/* Teal */
$ivf-highlight-teal-50: #D5F5F6;
$ivf-highlight-teal-400: #16BDCA;

/* Orange */
$ivf-highlight-orange-50: #FEECDC;
$ivf-highlight-orange-400: #FF8A4C;

/* Typography */
$ivf-text-primary: $ivf-tertiary-900;
$ivf-text-danger: $ivf-highlight-red-600;
$ivf-text-warning: $ivf-highlight-yellow-600;
$ivf-text-success: $ivf-highlight-green-600;
$ivf-text-info: $ivf-primary-600;

/* Background Colors */
$ivf-background-primary: $ivf-white;
$ivf-background-secondary: $ivf-tertiary-50;
$ivf-background-danger: $ivf-highlight-red-50;
$ivf-background-warning: $ivf-highlight-yellow-50;
$ivf-background-success: $ivf-highlight-green-50;
$ivf-background-info: $ivf-primary-50;
