
/* General Spacing */
$ivf-spacing-xxs: 0.25rem;     /* 4px */
$ivf-spacing-xs: 0.5rem;       /* 8px */
$ivf-spacing-sm: 0.625rem;     /* 10px */
$ivf-spacing-md: 0.75rem;      /* 12px */
$ivf-spacing-lg: 1rem;         /* 16px */
$ivf-spacing-xl: 1.25rem;      /* 20px */
$ivf-spacing-2xl: 1.5rem;      /* 24px */
$ivf-spacing-3xl: 2rem;        /* 32px */