
/* General Spacing */
$spacing-xxs: 0.25rem;     /* 4px */
$spacing-xs: 0.5rem;       /* 8px */
$spacing-sm: 0.625rem;     /* 10px */
$spacing-md: 0.75rem;      /* 12px */
$spacing-lg: 1rem;         /* 16px */
$spacing-xl: 1.25rem;      /* 20px */
$spacing-2xl: 1.5rem;      /* 24px */
$spacing-3xl: 2rem;        /* 32px */