@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* Fonts */
$ivf-font-family: "Lexend", sans-serif;

/* Font Sizes */
$ivf-font-size-xxs: 0.5rem;         // 8px
$ivf-font-size-xs: 0.625rem;        // 10px
$ivf-font-size-sm: 0.75rem;         // 12px
$ivf-font-size-base: 0.875rem;      // 14px
$ivf-font-size-md: 1rem;            // 16px
$ivf-font-size-lg: 1.125rem;        // 18px
$ivf-font-size-xl: 1.25rem;         // 20px
$ivf-font-size-2xl: 1.5rem;         // 24px
$ivf-font-size-3xl: 1.875rem;       // 30px
$ivf-font-size-4xl: 2.25rem;        // 36px

$ivf-font-size-btn: $ivf-font-size-base;

/* Font Weights */
$ivf-font-weight-light: 300;
$ivf-font-weight-base: 400;
$ivf-font-weight-bold: 600;

/* Line Height */
$line-height-small: 1rem;
$line-height-base: 1.25rem;
$line-height-large: 1.5rem;

/*
body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-base);
    color: var(--text-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-large);
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-lg);
}

h3 {
    font-size: var(--font-size-md)
}

h4, h5, h6 {
    font-size: var(--font-size-base);
}

p {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
}
*/
