/* Base */
button {
    @include transition(all);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $ivf-spacing-xs;
    line-break: strict;
    border-radius: $ivf-rounded-base;
    font-family: $ivf-font-family;
    font-size: $ivf-font-size-btn;
    border: 0px;
}

/* Modules */
.ivf-btn {
    padding: $ivf-spacing-xs $ivf-spacing-md;
    text-align: center;
    cursor: pointer;

    &--primary {
        color: $ivf-white;
        background-color: $ivf-primary;

        &:hover {
            background-color: $ivf-primary-600;
        }
    }

    &--secondary {
        color: $ivf-text-primary;
        background-color: $ivf-white;
        border: 1px solid $ivf-tertiary-200;

        &:hover {
            background-color: $ivf-tertiary-50;
            color: $ivf-primary;
        }
    }

    &--tertiary {
        color: $ivf-primary;
        background-color: transparent;

        &:hover {
            color: $ivf-primary-600;
        }
    }

    &--small {
        padding: $ivf-spacing-xxs $ivf-spacing-sm;
    }

    &--large {
        padding: $ivf-spacing-sm $ivf-spacing-lg;
    }
}

/* States */
.ivf-btn.ivf-btn--primary.is-disabled {
    cursor: not-allowed !important;
    background-color: $ivf-primary-200 !important;

    &:hover {
        background-color: $ivf-primary-200 !important;
    }
}

/* Theme */
.dark {
    .ivf-btn {
        &--primary {
            color: $ivf-white;
            background-color: $ivf-primary-400;
    
            &:hover {
                background-color: $ivf-primary-300;
                color: $ivf-white;
            }
        }

        &--secondary {
            color: $ivf-tertiary-300;
            background-color: $ivf-tertiary-900;
            border: 1px solid $ivf-tertiary-400;
    
            &:hover {
                background-color: $ivf-tertiary-600;
                color: $ivf-tertiary-50;
            }
        }

        &--tertiary {
            color: $ivf-tertiary-300;
    
            &:hover {
                color: $ivf-tertiary-50;
            }
        }
    }
}