/* Base */
button {
    @include transition(all);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-xs;
    line-break: strict;
    border-radius: $rounded-base;
    font-family: $font-family;
    font-size: $font-size-btn;
    border: 0px;
}

/* Modules */
.ivf-btn {
    padding: $spacing-xs $spacing-md;
    text-align: center;
    cursor: pointer;

    &--primary {
        color: $white;
        background-color: $primary;

        &:hover {
            background-color: $primary-600;
        }
    }

    &--secondary {
        color: $text-primary;
        background-color: $white;
        border: 1px solid $tertiary-200;

        &:hover {
            background-color: $tertiary-50;
            color: $primary;
        }
    }

    &--tertiary {
        color: $primary;
        background-color: transparent;

        &:hover {
            color: $primary-600;
        }
    }

    &--small {
        padding: $spacing-xxs $spacing-sm;
    }

    &--large {
        padding: $spacing-sm $spacing-lg;
    }
}

/* States */
.ivf-btn.ivf-btn--primary.is-disabled {
    cursor: not-allowed !important;
    background-color: $primary-200 !important;

    &:hover {
        background-color: $primary-200 !important;
    }
}

/* Theme */
.dark {
    .ivf-btn {
        &--primary {
            color: $white;
            background-color: $primary-400;
    
            &:hover {
                background-color: $primary-300;
                color: $white;
            }
        }

        &--secondary {
            color: $tertiary-300;
            background-color: $tertiary-900;
            border: 1px solid $tertiary-400;
    
            &:hover {
                background-color: $tertiary-600;
                color: $tertiary-50;
            }
        }

        &--tertiary {
            color: $tertiary-300;
    
            &:hover {
                color: $tertiary-50;
            }
        }
    }
}