input, textarea {
    @include base-font;
    background-color: transparent;
    padding: $ivf-spacing-xs $ivf-spacing-sm;
    width: 100%;
    border-radius: $ivf-rounded-base;
}

.ivf-form-input {
    border: 1px solid $ivf-tertiary-200;
    color: $ivf-text-primary;

    &:focus {
        border-color: $ivf-primary;
    }

    &::placeholder {
        color: $ivf-tertiary-300;
    }
}

label {
    @include base-font;
    color: $ivf-text-primary;
    font-size: $ivf-font-size-base;
}

.ivf-form-label {
    @include base-font;
    color: $ivf-text-primary;
    font-size: $ivf-font-size-base;
}
